<!doctype html>
<html ng-app="CadClientes">
<head>
	<title>Cadastro de Clientes</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    
    <script>
        angular.module("CadClientes", []);
        angular.module("CadClientes").controller("CadClientesCtrl", 
        	function( $scope ){
                    $scope.app = "Cadastro de Clientes";
                    $scope.clientes = [
                        {nome:"Jefferson", codigo: 001},
                        {nome:"Paulo", codigo: 002},
                        {nome:"Sandy", codigo: 003},
                        {nome:"Heloisa", codigo: 004}
                    ];
                    
                    $scope.addCliente = function( cliente ) {
                        $scope.clientes.push( angular.copy( cliente ) );
                        delete $scope.cliente;
                    };
                }
        );
    </script>

</head>
<body ng-controller = "CadClientesCtrl">
    <div class="jumbotron"><h3>{{app}}</h3>
            <table class="table table-striped">
                    <tr>
                        <td><b>Nome</b></td>
                        <td><b>Código</b></td>
                    </tr>
                    <tr ng-repeat ="cliente in clientes">
                        <td> {{cliente.nome}} </td>
                        <td> {{cliente.codigo}} </td>
                    </tr>
            </table>
            <hr>

            <input class="form-control" type="text" ng-model="cliente.nome" placeholder="Nome">
            <input class="form-control" type="text" ng-model="cliente.codigo" placeholder="Código">

            <button class="btn btn-primary btn-block" ng-click="addCliente(cliente)" 
                    ng-disabled="!cliente.nome || !cliente.codigo">
                Adicionar Cliente
            </button>
    </div>

</body>
</html>