<!doctype html>
<html ng-app="CadClientes">
<head>
	<title>Cadastro de Clientes</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    
    <script>
        angular.module("CadClientes", []);
        angular.module("CadClientes").controller("CadClientesCtrl", 
        	function( $scope ){
                    $scope.app = "Cadastro de Clientes";
                    $scope.clientes = [
                        {nome:"Jefferson", codigo: 001, data: new Date()},
                        {nome:"Paulo", codigo: 002, data: new Date()},
                        {nome:"Sandy", codigo: 003, data: new Date()},
                        {nome:"Heloisa", codigo: 004, data: new Date()}
                    ];
                    
                    $scope.tipoClientes = [
                        {tipo: "Pessoa Física", codigo: "01", local: "Nacional"},
                        {tipo: "Pessoa Jurídica", codigo: "02", local: "Nacional"},
                        {tipo: "Sócios", codigo: "03", local: "Nacional"},
                        {tipo: "Exportador", codigo: "04", local: "Internacional"},
                        {tipo: "Importador", codigo: "05", local: "Internacional"}
                    ];
                    
                    $scope.addCliente = function( cliente ) {
                        $scope.clientes.push( angular.copy( cliente ) );
                        delete $scope.cliente;
                    };
                    
                    $scope.apagarCliente = function( clientes ) {
                        $scope.clientes = clientes.filter( function(cliente) {
                            if( !cliente.selecionado ) return cliente;
                        });
                    };
                    
                    $scope.temClienteSelecionado = function(clientes){
                        return clientes.some(function( cliente ) {
                            return cliente.selecionado;
                        });
                    }
                    
                    $scope.classe1 = "selecionado";
                    $scope.classe2 = "negrito";
                }
        );
    </script>

</head>
<body ng-controller = "CadClientesCtrl">
    <div class="jumbotron"><h3>{{app}}</h3>
        <input type="text" class="form-control" ng-model="Buscar" placeholder="Busque Aqui">
            <table ng-show="clientes.length > 0" class="table">
                    <tr>
                        <td> </td>
                        <td><b>Nome</b></td>
                        <td><b>Código</b></td>
                        <td><b>Tipo Cliente</b></td>
                        <td><b>Data de Cadastro</b></td>
                    </tr>
                    <tr ng-class="{'selecionado negrito': cliente.selecionado}" ng-repeat ="cliente in clientes 
                                | filter: Buscar | orderBy: 'nome'">
                        <td> <input type="checkbox" ng-model="cliente.selecionado"> </td>
                        <td> {{cliente.nome | uppercase}} </td>
                        <td> {{cliente.codigo}} </td>
                        <td> {{cliente.tipoClientes.tipo}} </td>
                        <td> {{cliente.data | date:'dd/MM/yyyy'}} </td>
                    </tr>
            </table>
            <hr>
            
            <form name="clienteForm">
                <input class="form-control" type="text" ng-model="cliente.nome" placeholder="Nome" ng-required="true">
                <input class="form-control" type="text" ng-model="cliente.codigo" placeholder="Código" ng-required="true">

                <select class="form-control"ng-model="cliente.tipoClientes" 
                        ng-options="tipoCliente.tipo group by tipoCliente.local for tipoCliente in tipoClientes"
                        ng-required="true">
                    <option value="">Selecione o Tipo de Cliente</option>
                </select>
            </form>
            
            

            <button class="btn btn-primary btn-block" ng-click="addCliente(cliente)" 
                    ng-disabled="clienteForm.$invalid">
                Adicionar Cliente
            </button>
            
            <button class="btn btn-danger btn-block" ng-click="apagarCliente(clientes)"
                    ng-show="temClienteSelecionado(clientes)">
                Apagar Cliente
            </button>
            
    </div>
    
    <div ng-include="'rodape.html'">
        
    </div>

</body>
</html>