
/* CSS Document*/

.jumbotron {
	width: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
}

.table {
    margin-top: 35px;
}

.form-control {
    margin-bottom: 10px;
}

.selecionado {
    background-color: #BBC9FC;
}

.negrito {
    font-weight: bold;
}

.rodape {
    text-align: center;
}

.dir-alerta {
    background-color: #f2dede;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dir-alerta-title {
    color: #af4341;
    font-weight: bold;
    font-size: 20px;
}

.dir-alerta-msg {
    color: #af4341;
}