
/* CSS Document*/

.jumbotron {
	width: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
}

.table {
    margin-top: 35px;
}

.form-control {
    margin-bottom: 10px;
}

.selecionado {
    background-color: #BBC9FC;
}

.negrito {
    font-weight: bold;
}

.rodape {
    text-align: center;
}